<a href="https://colab.research.google.com/github/NadimMahmud3219/Encoding-technique-/blob/main/Encoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('/content/tips.csv')

In [ ]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [ ]:
df.sex.unique()

array(['Female', 'Male'], dtype=object)

In [ ]:
df.smoker.unique()

array(['No', 'Yes'], dtype=object)

In [ ]:
df.time.unique()

array(['Dinner', 'Lunch'], dtype=object)

In [ ]:
df.day.unique()

array(['Sun', 'Sat', 'Thur', 'Fri'], dtype=object)

In [ ]:
#without using any kind of encoding
df.replace({'sex':{'Female':1,'Male':0}},inplace= True)

In [ ]:
df.head()

   total_bill   tip  sex smoker  day    time  size
0       16.99  1.01    1     No  Sun  Dinner     2
1       10.34  1.66    0     No  Sun  Dinner     3
2       21.01  3.50    0     No  Sun  Dinner     3
3       23.68  3.31    0     No  Sun  Dinner     2
4       24.59  3.61    1     No  Sun  Dinner     4

In [ ]:
#Using label Encoding
from sklearn.preprocessing import LabelEncoder

In [ ]:
Encoder = LabelEncoder()

In [ ]:
df['smoker'] = Encoder.fit_transform(df['smoker'])

In [ ]:
df['time'] = Encoder.fit_transform(df['time'])

In [ ]:
df.head()

   total_bill   tip  sex  smoker  day  time  size
0       16.99  1.01    1       0  Sun     0     2
1       10.34  1.66    0       0  Sun     0     3
2       21.01  3.50    0       0  Sun     0     3
3       23.68  3.31    0       0  Sun     0     2
4       24.59  3.61    1       0  Sun     0     4

In [ ]:
#One-hot Encoding
One_Hot = pd.get_dummies(df['day'],drop_first = True)

In [ ]:
One_Hot.head()

   Sat  Sun  Thur
0    0    1     0
1    0    1     0
2    0    1     0
3    0    1     0
4    0    1     0

In [ ]:
new_df = df.drop('day', axis =1)

In [ ]:
new_df.head()

   total_bill   tip  sex  smoker    time  size
0       16.99  1.01    1       0  Dinner     2
1       10.34  1.66    0       0  Dinner     3
2       21.01  3.50    0       0  Dinner     3
3       23.68  3.31    0       0  Dinner     2
4       24.59  3.61    1       0  Dinner     4

In [ ]:
Encoded = pd.concat([One_Hot,new_df],axis =1)

In [ ]:
Encoded.head()

   Sat  Sun  Thur  total_bill   tip  sex  smoker    time  size
0    0    1     0       16.99  1.01    1       0  Dinner     2
1    0    1     0       10.34  1.66    0       0  Dinner     3
2    0    1     0       21.01  3.50    0       0  Dinner     3
3    0    1     0       23.68  3.31    0       0  Dinner     2
4    0    1     0       24.59  3.61    1       0  Dinner     4